img {
  width: 100%;
}

.container {
  padding: 0px;
}

.landing {
  position: relative;
  background: url("./images/books2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
  margin-top: -24px;
  margin-bottom: -50px;
}

.register {
  position: relative;
  background: url("./images/books3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
  margin-top: -24px;
  margin-bottom: -50px;
}

.login {
  position: relative;
  background: url("./images/books.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
